
body,html,*{
	margin: 0;
	padding: 0;
	font-family: georgia;
	box-siwing:border-box;

}
#slider{
	background-color: #ccc;
	width: 100%;
	height: 500px;
	position: relative;
}
#img{
	width: 100%;
	height: 500px;
	position: absolute;
}
#btn_left{
	height: 500px;
	width: 100px;
	left: 0px;
	top: 170px;
	position: absolute;
}
#btn_right{
	height: 500px;
	width: 100px;
	right: 0px;
	top: 180px;
	position: absolute;
}
.left{
	position: absolute;
	top: 40px;
	left: 10px;
	width: 60px;
	height: 70px;
	opacity: 0.4;
}.left:hover{
	opacity: 0;
}
.right: {
	position: absolute;
	top: 40px;
	right: 10px;
	width: 60px;
	height: 70px;
	opacity: 0.4;
}.right:hover{
	opacity: 1;
	}
	/*-----------*/
	.entete_titre{
		background-color: #FC57D4;
		text-align: center;
		color: #FAF8FA;
		padding: 40px;
		position: absolute;
		top: 60%;
		line-height: normal;
	}
	.entete_titre h1{
		font-size: 25px;
		line-height: normal;
	}
	.entete_titre p{
		font-size: 10px;
		line-height: normal;
	}
/*------ mon menu ----*/
#menu_nav{
	background-color: #A60589;
	position: static;
	top: 0; overflow: hidden;
}
ul{
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color:#A60589; 
}
li{
	float: left;
}
li a{
	color: white;
	text-align: center;
	padding:14px 16px;
	text-decoration: none;
	display: block;
}
#menu_nav ul li:hover:not(.active) a{
	background: #F55BE2;
}
.active{
	background: #F55BE2;
}
/*------formulaire-----*/
.inscription_boite{
	border: 2px solid #A60589;
	font-family: georgia;
	padding: 6%;
	height: 500px;
	width: 200px;
	text-align: center;
	clear: left;
}
.inscription_boite h2{
	margin: 0 0 1% 0;
	font-weight: 100;
	font-size: 30px;
}
.inscription_boite .inscription{
	width: 100%;
	max-width: 500px;
	margin: auto;
}
.inscription_boite .inscription input{
	width: 100%;
	background-color: transparent;
	border:1px solid #A60589;
	padding: 0 1% 0 1%;
	text-align: center;
	font-size: 18px;
	font-family: georgia;
	font-weight: 300;
	line-height: 1.5;
	color: aliceblue;
	outline: none;
}
.inscription_boite .inscription button{
	margin-top: 3%;
	background: transparent;
	border-radius: 50px;
	padding: 10px 40px;
	cursor: pointer;
	display: inline-block;
	font-weight: 700;
	position: relative;
}
.inscription_boite .inscription button:hover{
	color: pink;
	padding: 10px 40px;
	}
	
/*----------section-----------*/
section{
	float: right;
	left: 1000px;
	width: 1000px;
	border-bottom: 0px;
	margin-left: auto;
	margin-right: auto;
	padding-left: 0px;
	padding-top: 20px;
	padding-right: 0px;
	padding-bottom: 0px;
}
footer{
	clear: left;
	padding: 100px;
	bottom: 0px;
	margin-top: auto;
	background-color: #000;
}
.gauche{
	color: #ffffff;
    list-style-type: auto;
}
.droite{
	color: #ffffff;
}
























